/* button */

button{
padding:15px 30px;
border:none;
border-radius:30px;
background:#00c3ff;
color:white;
cursor:pointer;
transition:0.3s;
font-size: 1rem;
}

button a{
    text-decoration: none;
    color: white;
    
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 15px #00c3ff;
}
